{% extends 'base.html.twig' %}

{# page specific css #}
{% block styles %}
    {% for css in css_files %}
        <link rel="stylesheet" href="{{ asset(css) }}">
    {% endfor %}
{% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{path('home')}}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Contact</a></li>
    </li>
  </ol> 
</nav>
<div class="contact_div">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>
</div>  
{% endblock %}

{# page specific js #}
{% block scripts %}
    {% for js in js_files %}
        <script src="{{ asset(js) }}"></script>
    {% endfor %}
{% endblock %}